h2 {
    color: black;
}

ion-button {
    background-color: rgb(123, 51, 165); 
}

ion-button:hover {
    background-color: rgb(114, 23, 167);
}

.genero-img {
    display: block;
    width: 300px; 
    height: auto;
    margin: 20px auto; 
  }
  