<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AcercaDe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Me encantaría que trabajaramos juntos!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="/assets/image.png" alt="">
      <p>Kiara Nicole Custodio Cruz</p>
      <p>829-714-1418</p>
      <a href="mailto:[kiarancustodio@gmail.com]">{{ correo }}</a>
    </ion-card-content>
  </ion-card>
</ion-content>
  
